body {
	margin: 0auto;
	padding: 0;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	
	
}
#contents .datos {
	background: url('../img/contactaraespecialista.jpg') no-repeat;
	margin:0 auto;
	top: 0px;
	width: 1014px;
	height: 843px;
}
#contents .logo {
	background: url('../img/logo.png') no-repeat;
	position:relative;
	left:43px;
	top: 0px;
	width: 222px;
	height: 100px;
	/*border : 1px solid #BAC3CC;*/
}
#contents .formularioespecialista {
	position:relative;
	top:108px;
	width:576px;
	height:495px;
	z-index:2;
	/*border : 1px solid #BAC3CC; */
	overflow:auto;
}
#contents .nombre {
	position:relative;
	left:158px;
	top:69px;
	width:338px;
	height:36px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
#contents .telefono {
	position:relative;
	left:158px;
	top:74px;
	width:338px;
	height:36px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
#contents .correo {
	position:relative;
	left:158px;
	top:77px;
	width:338px;
	height:36px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
#contents .mensaje {
	position:relative;
	left:158px;
	top:80px;
	width:338px;
	height:135px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}

#contents .plan {
	position:relative;
	left:158px;
	top:99px;
	width:355px;
	height:110px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}

.textboxdatos {
	/*background: url('../img/img_textbox.png') no-repeat;*/
	width: 338px;
	height: 20px;
	margin: 8px 0;
	/*background-color:#CCC;*/
}

.textboxdatosm {
	/*background: url('../img/img_textbox.png') no-repeat;*/
	width: 330px;
	height: 115px;
	margin: 8px 0;
	/*background-color:#CCC;*/
}
.textdatosinput {
	border: none;
/*	background: white; */
	color:#F60;
	font-size: 12px;
/*	font-weight: bold;*/
	
}
.labeldatosv {
	border: none;
/*	background: white; */
	color:#F60;
	font-size: 12px;
/*	font-weight: bold;*/
	
}


.labeltext {
	border: none;
/*	background: white; */
	color:#000;
	font-size: 12px;
/*	font-weight: bold;*/
	
}
#contents .boton {
	position:relative;
	left:378px;
	top:88px;
	width:120px;
	height:35px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
.link-contact {
	position: absolute;
	left: 555px;
	top: 705px;
	height: 14px;
	width: 108px;
	text-decoration:none;
	
}