body {
	margin: 0auto;
	padding: 0;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	
}
.container {

}

#contents .servicio {
	background: url('../img/Calculadora.jpg') no-repeat;
	margin:0 auto;
	top: 0px;
	width: 947px;
	height: 1127px;
}
#contents .logo {
	background: url('../img/logo.png') no-repeat;
	position:relative;
	left:18px;
	top: 15px;
	width: 222px;
	height: 100px;
	/*border : 1px solid #BAC3CC;*/
}
#contents .requerimientos {
	background: url('../img/requerimiento.png') no-repeat;
	position: relative;
	left:514px;
	top: 823px;
	width: 134px;
	height: 13px;
	/*border : 1px solid #BAC3CC;*/
}
#contents .todos {
	background: url('../img/todos.png') no-repeat;
	position: relative;
	left:700px;
	top: 502px;
	width: 109px;
	height: 25px;
	/*border : 1px solid #BAC3CC;
	color:#FFFFFF;*/
}
#contents .descripcionu {
	background: url('../img/descrip.png') no-repeat;
	position: relative;
	left:575px;
	top: 601px;
	width: 119px;
	height: 26px;
	/*border : 1px solid #BAC3CC;
	color:#FFFFFF;*/
}
#contents .descripciond {
	background: url('../img/descrip.png') no-repeat;
	position: relative;
	left:297px;
	top: 642px;
	width: 119px;
	height: 26px;
	/*border : 1px solid #BAC3CC;
	color:#FFFFFF;*/
}
#contents .descripciont {
	background: url('../img/descrip.png') no-repeat;
	position: relative;
	left:406px;
	top: 667px;
	width: 119px;
	height: 26px;
	/*border : 1px solid #BAC3CC;
	color:#FFFFFF;*/
}
#contents .formulariopak {
	position:relative;
	left:60px;
	top:328px;
	width:740px;
	height:70px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
#contents .numu {
	position:absolute;
	left:45px;
	top:12px;
	width:83px;
	height:40px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	/*color:#FFFFFF; */
overflow:auto;
}
#contents .numd {
	position:absolute;
	left:235px;
	top:12px;
	width:83px;
	height:40px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	/*color:#FFFFFF; */
overflow:auto;
}
#contents .numt {
	position:absolute;
	left:427px;
	top:12px;
	width:83px;
	height:40px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	/*color:#FFFFFF; */
overflow:auto;
}
#contents .numc {
	position:absolute;
	left:616px;
	top:10px;
	width:83px;
	height:40px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	/*color:#FFFFFF; */
overflow:auto;
}

#contents .formularioporcentajes {
	position:relative;
	left:829px;
	top:445px;
	width:55px;
	height:210px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
#contents .radiocero {
	position:static;
	margin: 0 auto;
	width:21px;
	height:10px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}

#contents .radiou {
	margin: 0 auto;
	width:21px;
	height:54px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
overflow:auto;
}

#contents .radiod {
	margin: 0 auto;
	width:21px;
	height:65px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}

#contents .radiot {
	margin: 0 auto;
	width:21px;
	height:45px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}

#contents .radioc {
	margin: 0 auto;
	width:21px;
	height:21px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
#contents .formulariototal {
	position:relative;
	left:655px;
	top:480px;
	width:230px;
	height:60px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
overflow:auto;
}
#contents .numtotal {
	position:relative;
	left:5px;
	top:15px;
	width:80px;
	height:40px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
#contents .boton {
	position:absolute;
	left:94px;
	top:21px;
	width:125px;
	height:30px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
.textboxnum {
/*	background: url('../img/img_textbox.png') no-repeat;*/
	width: 80px;
	height: 24px;
	margin: 8px 0;
}

.textnuminput {
	border: none;
/*	background: white;*/
	color:#F60;
	font-size: 16px;
	font-weight: bold;
	text-align:center;
	
}
