body {
	margin: 0auto;
	padding: 0;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	
	
}
#contents .datos {
	background: url('../img/contacto.jpg') no-repeat;
	margin:0 auto;
	top: 0px;
	width: 1014px;
	height: 843px;

}
#contents .logo {
	background: url('../img/logo.png') no-repeat;
	position: relative;
	left:48px;
	top: 0px;
	width: 222px;
	height: 100px;
	/*border : 1px solid #BAC3CC;*/
}
#contents .formulariocontacto {
	position:relative;
	left:16px;
	top:70px;
	width:576px;
	height:495px;
	z-index:2;
	/*border : 1px solid #BAC3CC; */
	overflow:auto;
}
#contents .nombre {
	position:relative;
	left:181px;
	top:106px;
	width:338px;
	height:36px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
#contents .telefono {
	position:relative;
	left:181px;
	top:111px;
	width:338px;
	height:36px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
#contents .correo {
	position:relative;
	left:181px;
	top:115px;
	width:338px;
	height:36px;
	z-index:2;
	/*border : 1px solid #BAC3CC; */
	overflow:auto;
}
#contents .mensaje {
	position:relative;
	left:181px;
	top:117px;
	width:338px;
	height:135px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
.textboxdatos {
	width: 338px;
	height: 20px;
	margin: 8px 0;
	/*background-color:#CCC;*/
}

.textboxdatosm {
	width: 330px;
	height: 115px;
	margin: 8px 0;
	/*background-color:#CCC;*/
}
.textdatosinput {
	border: none;
/*	background: white; */
	color:#F60;
	font-size: 12px;
/*	font-weight: bold;*/
	
}
.labeldatosv {
	border: none;
/*	background: white; */
	color:#F60;
	font-size: 12px;
/*	font-weight: bold;*/
	
}


.labeltext {
	border: none;
/*	background: white; */
	color:#000;
	font-size: 12px;
/*	font-weight: bold;*/
	
}
#contents .boton {
	position:relative;
	left:397px;
	top:125px;
	width:120px;
	height:35px;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}

.link-contact {
	position: absolute;
	left: 800px;
	top: 611px;
	height: 14px;
	width: 108px;
	text-decoration:none;

}