/* CSS DE PLANES*/
#contents .calc {
	background: url('../../img/calculadora2.jpg') no-repeat;
	position:relative;
	width: 646px;
	height: 218px;
}
#contents .servicios {
	background: url('../../img/servicios_overcast_planescompletos.png') no-repeat;
	position:relative;
	width: 849px;
	height: 369px;
}
#contents .formulariopak2 {
	position:relative;
	width:645px;
	height:105px;
	top: 138px;
z-index:2;
overflow:auto;
}
/*TEXT BOX EMAIL ARRIBA*/
#contents .numu {
	position:absolute;
	left:0px;
	top:4px;
	width:100px;
	height:18px;
	/*border : 1px solid #BAC3CC;*/	
}
/*TEXT BOX P1 ARRIBA*/
#contents .numd {
	position:absolute;
	left:110px;
	top:4px;
	width:100px;
	height:18px;
	
}

/*TEXT BOX E1 ARRIBA*/
#contents .numt {
	position:absolute;
	left:220px;
	top:4px;
	width:100px;
	height:18px;
	
}

/*TEXT BOX E2 ARRIBA*/
#contents .numc {
	position:absolute;
	left:326px;
	top:4px;
	width:100px;
	height:18px;

	
}

/*TEXT BOX E3 ARRIBA*/
#contents .numci {
	position:absolute;
	left:435px;
	top:4px;
	width:100px;
	height:18px;

	
}

/*TEXT BOX E4 ARRIBA*/
#contents .nums {
	position:absolute;
	left:541px;
	top:4px;
	width:100px;
	height:18px;
	
}
/*TEXT BOX RESULTADOS*/
#contents .result {
	position:absolute;
	left:605px;
	top:342px;
	width:83px;
	height:18px;
	/*border : 1px solid #BAC3CC;*/
	
}
/*ESTILO EN TEXT BOX*/
.textnuminput {
	border: none;
	color:#F60;
	font-size: 14px;
	font-weight: bold;
	text-align:center;
	
}
/*PORCENTAJE DE SERVICIOS*/
#contents .porcentajes {
	position:relative;
	left:789px;
	top:41px;
	width:55px;
	height:218px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}
#contents .radiocero {
	position:static;
	margin: 0 auto;
	width:21px;
	height:10px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}

#contents .radiou {
	margin: 0 auto;
	width:21px;
	height:54px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
overflow:auto;
}

#contents .radiod {
	margin: 0 auto;
	width:21px;
	height:65px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}

#contents .radiot {
	margin: 0 auto;
	width:21px;
	height:45px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}

#contents .radioc {
	margin: 0 auto;
	width:21px;
	height:21px;
	z-index:2;
	/*border : 1px solid #BAC3CC;*/
	overflow:auto;
}

/*CSS DE ESPECIALISTA*/
#contents .especialista {
	background: url('../../img/especialista_planescompletos.png') no-repeat;
	position:relative;
	width: 681px;
	height: 710px;
}

#contents .formularioespe {
	position:relative;
	/*border : 1px solid #BAC3CC;*/
	left : 180px;
	width:360px;
	height:880px;
	top: 120px;
z-index:2;
overflow:auto;
}
/*NOMBRE*/
#contents .nombre {
	position:absolute;
	left:8px;
	top:2px;
	width:320px;
	height:15px;
	/*border : 1px solid #BAC3CC;*/
}
/*TELEFONO*/
#contents .telefono {
	position:absolute;
	left:8px;
	top:42px;
	width:320px;
	height:15px;
	/*border : 1px solid #BAC3CC;*/
}
/*CORREO*/
#contents .correo {
	position:absolute;
	left:8px;
	top:76px;
	width:320px;
	height:15px;
	/*border : 1px solid #BAC3CC;*/
}
/*MENSAJE*/
#contents .mensaje {
	position:absolute;
	left:8px;
	top:115px;
	width:320px;
	height:15px;
	/*border : 1px solid #BAC3CC;*/
}
/*PLAN*/
#contents .plan {
	position:absolute;
	left:8px;
	top:305px;
	width:320px;
	height:15px;
	text-align:left;
	/*border : 1px solid #BAC3CC;*/
}
/*ESTILO EN TEXT BOX*/
.textespeinput {
	border: none;
	color:#F60;
	font-size: 13px;
/*	font-weight: bold;*/
	
}

.labeldatosv {
	border: none;
/*	background: white; */
	color:#F60;
	font-size: 12px;
	font-weight: bold;
	
}


.labeltext {
	border: none;
/*	background: white; */
	color:#000;
	font-size: 12px;
/*	font-weight: bold;*/
	
}
/*LINK*/

.servicio_essentials {
    position: absolute;
    left: 527px;
    top: 69px;
    height: 25px;
    font-family: arial;
    text-decoration: underline;
    width: 130px;
    font-size: 12px;
    color: #8f8f8f;
    /*border : 1px solid #BAC3CC;*/
}

.servicio_expert {
    position: absolute;
    left: 245px;
    top: 138px;
    height: 25px;
    font-family: arial;
    text-decoration: underline;
    width: 130px;
    font-size: 12px;
    color: #8f8f8f;
    /*border : 1px solid #BAC3CC;*/
}

.servicio_master {
    position: absolute;
    left: 355px;
    top: 190px;
    height: 25px;
    font-family: arial;
    text-decoration: underline;
    width: 130px;
    font-size: 12px;
    color: #8f8f8f;
    /*border : 1px solid #BAC3CC;*/
}

.requerimientos_minimos {
    position: absolute;
    left: 467px;
    top: 258px;
    height: 25px;
    font-family: arial;
    width: 126px;
    font-size: 10px;
    color:#F60;
    font-weight: bold;
    text-decoration:none;
    cursor: hand;
    /*border : 1px solid #BAC3CC;*/
}

.link-contact {
	position: absolute;
	left: 707px;
	top: 337px;
	height: 25px;
	width: 116px;
	text-decoration:none;
	/*border : 1px solid #BAC3CC;*/
	
}
.enlace {
    position: absolute;
    left: 572px;
    top: 690px;
    height: 25px;
    font-family: arial;
    width: 116px;
    font-size: 10px;
    color:#F60;
    font-weight: bold;
    text-decoration:none;
    cursor: hand;
    /*border : 1px solid #BAC3CC;*/

}
/*SUBMIT SERVICIOS*/
.submit-servicios {
	position: absolute;
	left: 707px;
	top: 337px;
	height: 25px;
	width: 116px;
	text-decoration:none;
	/* border : 1px solid #BAC3CC;*/
	
}
/*SUBMIT DATOS*/
.submit-datos {
	position: absolute;
	left: 405px;
	top: 380px;
	height: 25px;
	width: 116px;
	text-decoration:none;
	 /*border : 1px solid #BAC3CC;*/ 
	
}

/*CSS DE GRACIAS*/
#contents .gracias {
	background: url('../../img/gracias_contratar.png') no-repeat;
	position:relative;
	width: 380px;
	height: 145px;
}

/*BOTON*/
#contents .boton {
	position:absolute;
	left:230px;
	top:265px;
	width:114px;
	height:25px;
	
}