<!-- wp_content: live -->
	<div class="remote_content"><div class="dashed_border">
		<h3>FREE e-book</h3>
		<a href="http://orbisius.com/go/intro2site?s=wp_mibew" target="_blank">Free e-book: How to Build a Website Using WordPress: Beginners Guide</a>
	</div>

	<h3>More Plugins by <a target="_blank" href="http://orbisius.com">http://orbisius.com</a></h3>
	<div class="link_list_container">
		<ul class="link_list">
			<li><a target="_blank" href="http://orbisius.com/site/products/digishop/">DigiShop</a></li>
			<li><a target="_blank" href="http://orbisius.com/site/portfolio/free-open-source-projects/admin-ui-simplificator/">Admin UI Simplificator</a></li>
			<li><a target="_blank" href="http://orbisius.com/site/products/wordpress-simple-paypal-shopping-cart-ui/">UI for WordPress Simple Paypal Shopping Cart</a></li>
			<li><a target="_blank" href="http://orbisius.com/site/products/wp-mibew/">WP Mibew</a></li>
			<li><a target="_blank" href="http://orbisius.com/site/products/wp-member-status">WP Member Status</a></li>
			<li><a target="_blank" href="http://orbisius.com/site/products/wp-partner-watcher/">WP Partner Watcher</a></li>
			<li><a target="_blank" href="http://orbisius.com/site/products/like-gate/">Like Gate</a></li>
		</ul>
	</div>
<!-- /wp_content: live -->
<!-- fetched on: Thu, 27 Sep 2012 22:00:56 +0000 --> 
